@import "bulma/sass/utilities/derived-variables.sass";

input {
  &[type="radio"],
  &[type="checkbox"] {
    display:none;
    & + span:before {
      font-family: 'FontAwesome';
      padding-right: 3px;
      font-size: 20px;
    }
    // &:disabled,
    // &[aria-disabled="true"] {
    //   & + span:before {
    //     border-color: $grey;
    //   }
    //   &:checked + span:before {
    //     filter: brightness(130%);
    //   }
    // }
  }

  &[type="radio"] {
    & + span:before {
      content: "\f10c"; /* circle-blank */
    }
    &:checked + span:before {
      content: "\f111"; /* circle */
    }
  }

  &[type="checkbox"] {

    & + span:before {
      content: "\f096"; /* check-empty */
    }
    &:checked + span:before {
      content: "\f046"; /* check */
    }
  }
}