@import "bulma/sass/utilities/derived-variables.sass";

input[type=checkbox] {
  display: none;

  &+label {
    display: block;
    margin: 0.2em;
    padding: 0.2em;

    &:before {
      content: "\2714";
      border: 0.1em solid #000;
      border-radius: 0.2em;
      display: inline-block;
      width: 1.3em;
      height: 1.3em;
      padding-left: 0.2em;
      margin-right: 0.5em;
      vertical-align: bottom;
      color: transparent;
      transition: .2s;
    }
  }


  &:checked+label::before {
    background-color: $info;
    border-color: $info;
    color: #fff;
  }

  &:disabled,
  &[aria-disabled="true"] {
    &+label:before {
      border-color: $grey;
    }

    &:checked+label:before {
      filter: brightness(130%);
    }
  }
}